<div class="recover">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <span>注册</span> 
        
        <nz-form-item style="margin-top: 30px" class="item">
          <nz-form-control [nzErrorTip]="Tip">
            <nz-input-group nzPrefixIcon="mobile" style="font-size: 22px; width: 320px;">
              <input type="text" nz-input formControlName="userName" maxlength="11" placeholder="手机号"  (keyup)='Tips()'/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item class="item"> 
            <nz-form-control nzErrorTip="请输入验证码">
                <div class="yanzhengma">
              <nz-input-group nzPrefixIcon="safety" style="font-size: 22px; width: 320px;">
                    <input type="text" nz-input formControlName="yzm" maxlength="6" placeholder="验证码" />
                    <button  nz-button nzType="primary" (click)="showModal()">获取验证码</button>
                    <nz-modal [(nzVisible)]="isVisible" nzTitle="请输入图片验证码" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                        <input type="text" style="width: 200px">
                        <img src="./../../assets/images/yzm.jpg" style="padding-left: 100px">
                    </nz-modal>   
              </nz-input-group>
            </div> 
            </nz-form-control>  
          </nz-form-item> 
        
        <nz-form-item class="item" >
                <nz-form-control [nzErrorTip]="Psw">
                  <nz-input-group nzPrefixIcon="lock" style="font-size: 22px; width: 320px;">
                    <input type="password" maxlength="18" nz-input formControlName="password" placeholder="密码"  (keyup)='Psws()'/>
                  </nz-input-group>
                </nz-form-control>
        </nz-form-item>

        <nz-form-item class="item">
                <nz-form-control nzErrorTip="再次确认你的密码">
                  <nz-input-group nzPrefixIcon="lock" style="font-size: 22px; width: 320px;">
                    <input type="password" nz-input formControlName="confirm" placeholder="确认密码" />
                  </nz-input-group>
                </nz-form-control>
        </nz-form-item>
        
        <nz-form-item style="text-align: center">
          <nz-form-control>
            <button nz-button class="login-form-button" [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid">注册</button>
          </nz-form-control>
        </nz-form-item>
        <a class="a_link" href="#">有账号？去登录</a>
    </form>
</div>
